@import "../Variables/Reset.css";

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap");

$roboto: "Roboto", serif;
$open-sans: "Open Sans", serif;
$comfortaa: "Comfortaa", serif;

// Colors
$whiteColor: #ffffff;

$roseColor1: #fb9cb2;
$roseColor2: #e78aa1;
$roseColor3: #d4798f;
$roseColor4: #c0677e;
$roseColor5: #ac556c;

$greyColor1: #8b94ac;
$greyColor2: #7a839b;
$greyColor3: #6a7389;
$greyColor4: #596278;
$greyColor5: #485166;
