//Imported
@import "../Variables/Variables.scss";

.home {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  &--opacity {
    width: 100%;
    height: 100%;
  }

  &__content {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    &__title {
      padding: 0 0 20px 0;

      h1 {
        font-family: $comfortaa;
        font-size: 4em;
        font-weight: 600;
        letter-spacing: 0.2em;
      }
    }

    &__text {
      width: 40%;
      text-align: center;

      p {
        font-family: $comfortaa;
        font-weight: 600;
      }
    }
  }
}

//Dark Mode
#light {
  .home {
    background-image: url("../Images/fcbolin-bg.png");

    &--opacity {
      background-color: $greyColor1;
      opacity: 0.4;
    }

    &__content {
      &__title {
        h1 {
          color: $whiteColor;
        }
      }

      &__text {
        p {
          color: $whiteColor;
        }
      }
    }
  }
}

#dark {
  .home {
    background-image: url("../Images/fcbolin-bg-dark.png");

    &--opacity {
      background-color: $roseColor1;
      opacity: 0.4;
    }

    &__content {
      &__title {
        h1 {
          color: $whiteColor;
        }
      }

      &__text {
        p {
          color: $whiteColor;
        }
      }
    }
  }
}

//Responsive
@media only screen and (max-width: 768px) {
  .home {
    &__content {
      &__title {
        h1 {
          font-size: 3em;
        }
      }

      &__text {
        width: 90%;
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .home {
    &__content {
      &__title {
        h1 {
          font-size: 2.5em;
        }
      }
    }
  }
}
